@media(max-width: 900px){
    .things-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .list{
        display: flex;
        width: 100%;
        ul{
            width: 100%;
            li{
                font-size: 60% !important;
            }
        }
    }

    .loc{
        button{
            padding: 10px 10px 10px !important;
            font-size: 13px !important;
        }
    }

    input{
        padding: 12px 100px 11px 12px !important;
    }


    section{
        justify-content: center;
        align-items: center;
    }

    .thing-text{
        h2{
            font-size: 500%;
        }
    }

    .cards1, .cards2{
        img{
            width: 50%;
            height: 50%;
        }
    }

    .cards3, .cards4, .cards5{
        img{
            width: 50%;
            height: 50%;
        }
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .component2{
        p{
            font-size: 20px;
        }
    }


    .review-cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .review-card , .review-card2{
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;
            margin: auto;
            img{
                width: 50%;
                transform: translateX(50%);
            }
        }
    }

    .end-div{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .end-list{
            ul{
                flex-direction: column;
                transform: translateX(-20%);
                justify-content: center;
                align-items: center;
                li{
                    padding: 0px 0px 25px !important;
                }
            }
        }
    }
}