*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* Dashed border
    border: dashed 4px #000;
  
    border-image-source: url("http://i.stack.imgur.com/wLdVc.png");
    border-image-slice: 2;
    border-image-repeat: round; 
*/

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 5% 20px;

    .header-logo{
        // padding: 40px 5% 0px;

        .logo{
            font-size: 32px;
            strong{
                font-weight: bolder;
            }
        }
    }

    .signIn{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: white;
        outline: none;
        cursor: pointer;
        
        p{
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            margin-left: 10px;
        }
    }
}

.line{
    width: 90%;
    border: 1px solid #80808080;
    margin: auto;
}

section{
    margin: 20px 5% 20px;
    
    .loc{
        display: flex;
        justify-content: space-between;
    

        button{
            border-radius: 20px;
            padding: 16px 16px 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            background-color: #FFAE5D;
            font-size: 16px;
            font-weight: 550;
            img{
                padding-right: 10px;
            }
            cursor: pointer;
        }

        form{
            position: relative;
            input{
                padding: 16px 549px 15px 16px;
                border-radius: 20px;
                border: 1px solid #80808080;
                outline: none;
            }
            img{
                position: absolute;
                top: 25%;
                right: 2%;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
        }
    }

    .list{
        margin-top: 20px;
        ul{
            display: flex;
            li{
                list-style-type: none;
                padding: 0px 1.5% 0px;
                font-size: 80%;
                color: #606060;
            }
            li:nth-child(1){
                padding-left: 10px;
            }
            li:nth-child(15){
                padding-right: 10px;
            }
        }
    }
}

.things-header{
    display: flex;
    padding-top: 70px;
    flex-direction: row;
    justify-content: space-between;
}

.text-color{
    color: #FFAE5D;
    font-weight: 600;
}

.thing-text{
    padding-top: 180px;
    h2{
        font-weight: 300;
        font-size: 96px;
        line-height: 100px;
    }
}

.thing-cards{
    // border: 2px solid red;
    width: 878px;
    height: 760px;
    // display: flex;
    // flex-direction: column;


}

.hot-deal{
    padding: 10px 20px 10px;
    p{
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }
    width: 100%;
    border-bottom:  dashed 2px #FFAE5D;
}

.cards1{
    padding-top: 20px;
    display: flex;
}

.card{
    // margin: auto;
    padding: 10px 10px 10px;
    margin-right: 50px;
    
}

.brand{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    // letter-spacing: 1px;    
}
.price{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    p{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;    
    }
    .sale{
        color:  #FF3232;
    }
}

.cards2{
    display: flex;
    padding-top: 10px;
}

.component{
    position: relative;
    padding-top: 70px;
    img{
        width: 100%;
        height: 55%;
    }
}

.today-hot-deals{
    margin-top: 70px;
}

.cards3{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}


.searched-items{
    margin-top: 70px;
    padding: 10px 20px 10px;
    p{
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }
    width: 100%;
    border-bottom:  dashed 2px #FFAE5D;
}

// .card{
//     img{
//         width: 100%;
//         height: 70%;
//     }
// }

.cards4{
    display: flex;
    padding-top: 20px;

    .card{
        margin: 20px;
    }
    .card:nth-child(1){
        margin-left: 0px;
    }
}
.component2{
    position: relative;
    padding-top: 70px;
    img{
        width: 100%;
        height: 55%;
    }
    .group3{
        position: absolute;
        width: 60%;
        height: 30%;
        right: 20%;
        top: 20%;
    }
    p{
        position: absolute;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 1px;
        top: 50%;
        left: 42%;
        cursor: pointer;
        color: #606060;
    }
}

.cards5{
    display: flex;
    padding-top: 20px;
    .card{
        margin: 50px;
    }
    .card:nth-child(1){
        margin-left: 0px;
    }
}

.review-cards{
    display: flex;
    margin-top: 30px;
    .review-card{
        border:  1.5px solid #81818180;
        border-radius: 20px;
        width: 750px;
        display: flex;
        justify-content: space-between;
        img{
            border-radius: 20px;
        }        
        .review-txt{
            padding: 53.5px 20px 53.5px;
            .item-desc{
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                color: #000000;
                margin-bottom: 15px;
            }
            .item-price{
                font-size: 16px;
                line-height: 36px;
                strong{
                    font-size: 24px;
                }
            }

            .item-rate{
                display: flex;
                position: relative;
                align-items: center;
                user-select: none;
                p{
                    color: #FFAE5D;
                    position: absolute;
                    right: -3%;
                    bottom: 2%;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                }

                .star{
                    margin-right: 15px;
                    font-size: 40px;
                    color: #FFAE5D;
                    background-color: unset;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
    }
    .review-card2{
        margin-left: 19px;
        border:  1.5px solid #81818180;
        border-radius: 20px;
        width: 750px;
        display: flex;
        justify-content: space-between;
        img{
            border-radius: 20px;
        }        
        .review-txt{
            padding: 53.5px 20px 53.5px;
            // border: 2px solid red;
            .item-desc{
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
                color: #000000;
                margin-bottom: 15px;
            }
            .item-price{
                font-size: 16px;
                line-height: 36px;
                strong{
                    font-size: 24px;
                }
            }
    
            .item-rate2{
                display: flex;
                position: relative;
                align-items: center;
                user-select: none;
                p{
                    color: #FFAE5D;
                    position: absolute;
                    right: -6%;
                    bottom: 2%;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                }
    
                .star2{
                    margin-right: 15px;
                    font-size: 40px;
                    color: #FFAE5D;
                    background-color: unset;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
    }
}


.last-sect{
    margin: 0;
    margin-top: 120px;
    width: 100%;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    .end-div{
        display: flex;
        justify-content: space-between;
        margin: 76px 200px 76px;
        width: 100%;
        .header-logo{
            p{
                color: white;
                font-size: 35px;
            }
        }
        .end-list{
                display: flex;
                justify-content: center;
                align-items: center;
            ul{
                display: flex;
                li{
                    list-style-type: none;
                    color: white;
                    padding: 0px 10px 0px;
                    cursor: pointer;
                }
            }
        }

        .select{
            display: flex;
            justify-content: center;
            align-items: center;
            .selection{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                cursor: pointer;
                img{
                    width: 50%;
                    height: 50%;
                }
                p{
                    color: white;
                    padding: 10px 10px 0px;
                }
            }
        }
    }
}