* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/* Dashed border
    border: dashed 4px #000;

    border-image-source: url("http://i.stack.imgur.com/wLdVc.png");
    border-image-slice: 2;
    border-image-repeat: round; 
*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 5% 20px;
}
.header .header-logo .logo {
  font-size: 32px;
}
.header .header-logo .logo strong {
  font-weight: bolder;
}
.header .signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
}
.header .signIn p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 10px;
}

.line {
  width: 90%;
  border: 1px solid rgba(128, 128, 128, 0.5019607843);
  margin: auto;
}

section {
  margin: 20px 5% 20px;
}
section .loc {
  display: flex;
  justify-content: space-between;
}
section .loc button {
  border-radius: 20px;
  padding: 16px 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: #FFAE5D;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
}
section .loc button img {
  padding-right: 10px;
}
section .loc form {
  position: relative;
}
section .loc form input {
  padding: 16px 549px 15px 16px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.5019607843);
  outline: none;
}
section .loc form img {
  position: absolute;
  top: 25%;
  right: 2%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
section .list {
  margin-top: 20px;
}
section .list ul {
  display: flex;
}
section .list ul li {
  list-style-type: none;
  padding: 0px 27px 0px;
  font-size: 13px;
  color: #606060;
}
section .list ul li:nth-child(1) {
  padding-left: 10px;
}
section .list ul li:nth-child(15) {
  padding-right: 10px;
}

.things-header {
  display: flex;
  padding-top: 70px;
  flex-direction: row;
  justify-content: space-between;
}

.text-color {
  color: #FFAE5D;
  font-weight: 600;
}

.thing-text {
  padding-top: 180px;
}
.thing-text h2 {
  font-weight: 300;
  font-size: 96px;
  line-height: 100px;
}

.thing-cards {
  width: 878px;
  height: 760px;
}
.thing-cards .hot-deal {
  padding: 10px 20px 10px;
  width: 100%;
  border-bottom: dashed 2px #FFAE5D;
}
.thing-cards .hot-deal p {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.cards1 {
  padding-top: 20px;
  display: flex;
}

.card {
  padding: 10px 10px 10px;
  margin-right: 47px;
}

.brand {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.price {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.price p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.price .sale {
  color: #FF3232;
}

.cards2 {
  display: flex;
  padding-top: 10px;
}

.component {
  padding-top: 70px;
}
.component img {
  width: 100%;
  height: 55%;
}/*# sourceMappingURL=style.css.map */